language: node_js

sudo: required
dist: trusty

services:
  - docker

node_js:
  - "6"
  - "7"

git:
  depth: 2

before_install:
  # clone a real copy of the repo because Travis only clones one branch
  - git clone --depth 10 --no-single-branch https://github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_REPO_SLUG
  - cd $TRAVIS_REPO_SLUG
  - git checkout $TRAVIS_BRANCH
  - curl --output morula --location --fail https://github.com/Originate/morula/releases/download/0.1/morula-linux-amd64 && chmod +x morula


install:
  - 'cd ./exosphere-shared'
  - './bin/setup'
  - 'cd ..'
  - 'if [ "$TRAVIS_BRANCH" == "master" ]; then ./setup; else echo skipping; fi'
  - 'if [ "$TRAVIS_BRANCH" != "master" ]; then ./morula changed bin/setup; else echo skipping; fi'


script:
  - 'if [ "${TRAVIS_BRANCH}" == "master" ]; then ./morula all bin/spec_ci; else echo skipping; fi'
  - 'if [ "${TRAVIS_BRANCH}" != "master" ]; then ./morula changed bin/spec_ci; else echo skipping; fi'


notifications:
  email: false
