language: go
go: 1.8

sudo: required
dist: trusty

services:
  - docker

env:
  - NODE_VERSION=6
  - NODE_VERSION=7

git:
  depth: 2

before_install:
  - nvm install $NODE_VERSION
  - sudo apt-get update
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.13.0/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  # clone a real copy of the repo because Travis only clones one branch
  # - git clone --depth 10 --no-single-branch https://github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_REPO_SLUG
  # - cd $TRAVIS_REPO_SLUG
  # - git checkout $TRAVIS_BRANCH
  - curl --output morula --location --fail https://github.com/Originate/morula/releases/download/0.1.1/morula-linux-amd64 && chmod +x morula
  - export PATH=./bin:$PATH


install:
  - yarn install
  - ./morula all bin/setup


script:
  - ./morula all bin/spec_ci
  - bin/spec


notifications:
  email: false

before_deploy: bin/cross-compile
deploy:
  api_key: $GITHUB_AUTH_TOKEN
  file: "dist/*"
  file_glob: true
  on:
    tags: true
    condition: $NODE_VERSION = 6
  provider: releases
  skip_cleanup: true
