service-environment-variables:
  - RDS_HOST: {{db-name}}.{{app-name}}.local
  - {{service-env-var-db-name}}: {{db-name}}
  - {{service-env-var-username}}: {{username}}
  - {{service-env-var-password}}: {{secret(password-secret-name)}}
